
<main role="main" class="container">
	<div class="starter-template">
		<h1>Lowest Standard Spreads</h1>
	</div>
	<table class="table table-striped table-bordered">
		<tr>
			<th scope="col">Card</th>
			<th scope="col">TCG Mid</th>
			<th scope="col">Card Kingdom</th>
			<th scope="col">Spread</th>
		</tr>
		<% 
			@lowStdSpread.each do |x| 	
		%>
				<tr>
					<td><%=x['name']  %> <%if x['isFoil'] %><span class="foil">✦</span><%end%><%= ' ('+ x['set'] + ')' %> </td>
					<td><%=number_to_currency(x["tcgPrice"])%></td>
					<td><%=number_to_currency(x["ckPrice"])%></td>
					<td><%= number_to_percentage(x["spread"], precision: 2) %></td>
				</tr>
		<%
			end
		%>
	</table>
</main>
