<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="../../../../favicon.ico">

	    <title>Negative Spread Cards</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	    	<a class="navbar-brand" href="#">MTG Spread</a>
	    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	        	<span class="navbar-toggler-icon"></span>
	      	</button>

		    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		     	<ul class="navbar-nav mr-auto">
		        	<li class="nav-item">
		            	<a class="nav-link" href="/">Home</a>
		          	</li>
		          	<li class="nav-item active">
		            	<a class="nav-link" href="#">Negative Spreads <span class="sr-only">(current)</span></a>
		          	</li>
		          	<li class="nav-item">
		            	<a class="nav-link" href="/home/low_spread">Lowest Standard Spreads</a>
		          	</li>
		        </ul>
		        <%= form_tag url_for(:controller => 'home', :action => 'search'), :method => 'get', class: 'form-inline my-2 my-lg-0'  do%>
					<%= text_field_tag(:q, nil, class: 'form-control mr-sm-2', placeholder: 'Search For Card') %><br><br>
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				<%end%> 
		    </div>
    	</nav>
    	<main role="main" class="container">
    		<div class="starter-template">
				<h1>Negative Spread Cards</h1>
			</div>
			<table class="table table-striped table-bordered">
				<tr>
					<th scope="col">Card</th>
					<th scope="col">TCG Mid</th>
					<th scope="col">Card Kingdom</th>
					<th scope="col">Spread</th>
				</tr>
<% 
			@negativeCards.each do |x| 
				

%>
				<tr>
		
					<td><%=x['name'] %> <%if x['isFoil'] %><span class="foil">✦</span><%end%><%= ' ('+ x['set'] + ')' %> </td>
					<td><%=number_to_currency(x["tcgPrice"])%></td>
					<td><%=number_to_currency(x["ckPrice"])%></td>
					<td><%= number_to_percentage(x["spread"], precision: 2) %></td>
				</tr>
<%
			end
		
%>

			</table>
		</main>
	</body>
</html>