
<main role="main" class="container">
	<div class="starter-template">
		<%if params[:q].present?%>
			<h1>Search for <%=params[:q]%></h1>
		<%elsif params[:set].present?
			str = ""
			params[:set].each do |x| 
				str = str + MagicSet.find(x)['sdkID'] + "," 	
			end
			str = str[0...-1] 
		%>
			<h1>Search Sets:  <%=str %></h1>
		<%end%>

	</div>
	<table class="table table-striped table-bordered">
		<tr>
			<th>Card</th>

			<th>TCG Mid</th>
			<th>Card Kingdom</th>
			<th>Spread</th>
			
		</tr>
<% 
		num = @results.length
		@results.each do |x| 
			
%>
			<tr>
				<td><%=x['name']  %> <%if x['isFoil'] %><span class="foil">✦</span><%end%><%= ' ('+ x['set'] + ')' %> </td>
				<td><%=number_to_currency(x["tcgPrice"])%></td>
				<td><%=number_to_currency(x["ckPrice"])%></td>
				<td><%= number_to_percentage(x["spread"], precision: 2) %></td>
			</tr>
<%
		end

%>
	</table>
</main>



