
<table border="1">
	<tr>
		<th>Card</th>
		<th>TCG Mid</th>
		<th>ABU</th>
		<th>Card Kingdom</th>
		<th>CFB</th>
		<th>Spread</th>
		
	</tr>
<% @cards[0..20].each do |card| 
	sleep 2

%>
	<tr>
		
		<td><%= card.name %></td>
		<% newVar = get_tcg_price(card)%>
		<td><%=newVar%></td>
		<%get_other_prices(card)%>
		<td><%=@priceArr[0]%></td>
		<td><%=@priceArr[1]%></td>
		<td><%=@priceArr[2]%></td>

		<td><%=1-@priceArr.max.to_f/newVar.to_f%></td>
		
	</tr>

<% end %>
</table>

